<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../static/css/StyleConsult.css" type="text/css" media="all" />
        <script type="text/javascript" src="../static/js/appConsult.js"></script>
        <title>Web App</title>
    </head>
    <body>
    <h1>Consulte su cita</h1>
    <form action="/consult_cita" method="post">
        <label>Id</label> <input id="ident"/> <br> <br>
        <button onclick="consult_user()">Consultar</button>
    </form>
</body>
</html>
