<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web Pague</title>
        <link rel="stylesheet" href="../static/css/StyleRegister.css" type="text/css" />
        <script src="../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>Datos de tu peludito</h1>
        <form action="/register_user" method="post">
            <label>Id</label> <input type="text" name="Id"/> <br> <br>
            <label>Nombre</label> <input type="text" name="Nombre" /> <br> <br>
            <label>Apellido</label> <input type="text" name="Apellido" /> <br> <br>
            <label>Cumpleaños</label> <input type="date" name="Cumpleaños" /> <br> <br>
            <button>Register</button>
        </form>
    </body>
</html>